.root {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  .wrapper {
    width: 100%;
    flex: 1;
  }

  .main {
    flex: 0 0 100%;
    width: 100%;

    min-height: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;

    @media (min-width: $mantine-breakpoint-sm) {
      flex: 0 0 calc(100% - rem(180px) * var(--mantine-scale) - var(--mantine-spacing-xl));
      width: calc(100% - rem(180px) * var(--mantine-scale) - var(--mantine-spacing-xl));
    }
  }
}
