.root {
  width: 100%;
  height: 100%;

  .viewer {
    width: 100%;
    height: 100%;

    canvas {
      width: 100%;
      height: 100%;
    }
  }

  .controls {
    padding: rem(8px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .controls-action {
    width: 24px;
    height: 24px;

    min-width: 24px;
    min-height: 24px;

    color: var(--mantine-color-gray-0);

    .controls-action-icon {
      width: rem(18px);
      height: rem(18px);
    }
  }

  .animation-toolbar {
    opacity: 1;
    transition: opacity 0.14s ease-out;
  }

  &:hover {
    .animation-toolbar {
      opacity: 1;
    }
  }
}

[data-mantine-color-scheme=dark] {
  .root {}
}
