.root {
  position: relative;
  padding: rem(8px);
  display: flex;
  flex-direction: column;
  gap: rem(8px);
  height: 100%;

  .properties {
    flex: 1 1 0;
    overflow: hidden;
    //padding: rem(8px);
    border: 1px solid var(--_app-shell-border-color);
    border-radius: var(--mantine-radius-xs);
  }
}

.slider-row {
  flex-wrap: nowrap;


  &-slider {
    flex: 1;
  }

  &-input {
    width: 80px;

    :global(.mantine-Input-input) {
      text-align: center;
    }
  }
}

[data-mantine-color-scheme=dark] {}
