.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .viewer-wrapper {
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 71dvh;
    overflow: hidden;
    background-color: var(--mantine-color-gray-0);
  }

  .viewer-loader {
    :global(.mantine-Overlay-root) {
      opacity: 1;
      background-color: var(--mantine-color-gray-0);
    }
  }
}

[data-mantine-color-scheme='dark'] {
  .content {
    .viewer-wrapper {
      background-color: var(--mantine-color-dark-7);
    }

    .viewer-loader {
      :global(.mantine-Overlay-root) {
        background-color: var(--mantine-color-dark-7);
      }
    }
  }
}
