.root {
  color: var(--mantine-color-text);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px);
  margin-left: rem(-4px);
  transition: background-color 0.12s ease-in-out;

  &:hover {
    background-color: var(--mantine-color-default-hover);
  }
  &:active {
    background-color: var(--mantine-color-default);
  }
}

.icon {
  transition: transform 0.214s ease-out;

  &-menu-open {
    transform: scaleY(-1);
  }
}

.avatar {
  background-image: radial-gradient(
    circle at 28% 78%,
    var(--mantine-color-primary-4) 6%,
    var(--mantine-color-primary-5) 36%,
    var(--mantine-color-primary-6) 57%,
    var(--mantine-color-primary-4) 68%,
    var(--mantine-color-primary-1) 88%
  );

  & :global(.mantine-Avatar-placeholder) {
    color: #ffffff;
  }
}
