.root {
  display: flex;
  flex-direction: column;
  gap: rem(4px);
}

.inputs {}

.input {
  display: flex;
  align-items: center;
  gap: rem(4px);

  & label {
    display: block;
    text-transform: lowercase;
    font-size: 12px;
    word-break: normal;
  }
}
