# App settings
APP_MODE=DEVELOPMENT#DEVELOPMENT|PRODUCTION|TEST
APP_HOST=localhost
APP_PORT=8080
APP_GLOBAL_PREFIX=api
APP_FRONTEND_URL=http://localhost:8000

# Logs
LOGS_LEVEL=silly
LOGS_TO_FILE_ENABLED=false

# Database options
POSTGRES_HOST=localhost
POSTGRES_PORT=8888
POSTGRES_USER=SuperMesh
POSTGRES_PASSWORD=pass4mesh
POSTGRES_DB=meshhub

# Auth
AUTH_JWT_COOKIE_NAME=x-access-token
AUTH_JWT_ACCESS_SECRET=8BriiRwWEJMGMNYY9NoG6TMGL7GR
AUTH_JWT_REFRESH_SECRET=LaIwOw0ZkNOfQn43A4HGbSoYYFtksxA6fSEpn748uaDjR9
AUTH_JWT_ACCESS_EXPIRES=1800# 30 mininutes
AUTH_JWT_REFRESH_EXPIRES=432000# 5 days

# Swagger
SWAGGER_SERVER=http://localhost:8080
SWAGGER_TITLE="MeshHub Swagger"
SWAGGER_DESCRIPTION="API приложения MeshHub"
SWAGGER_VERSION=1.0

# Throttle options
THROTTLE_GLOBAL_TTL=5
THROTTLE_GLOBAL_LIMIT=30

# CORS
CORS_ORIGINS_WHITE_LIST=*

# Yadnex SMTP
SMTP_YANDEX_ENABLED=false
SMTP_YANDEX_HOST=''
SMTP_YANDEX_PORT=465
SMTP_YANDEX_SENDER_NAME=''
SMTP_YANDEX_AUTH_USER=''
SMTP_YANDEX_AUTH_PASS=''

# Password reseting
RESET_PASSWORD_EXPIRE_SECONDS=1800# 30m
