.content {
  .viewer-wrapper {
    width: 100%;
    max-height: 600px;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--_paper-border);
    border-radius: var(--mantine-radius-sm);
  }
}
