.root {
  .label {
    text-align: left;
    width: 100%;
    color: var(--text-color);
    padding: 0;
    height: auto;
    border: none;
    display: block;

    :global(.mantine-Button-inner) {
      justify-content: space-between;
    }

    &-icon {
      width: rem(12px);
      height: rem(12px);

      transform: rotate(-90deg);
      transition: transform 0.214s ease-out;

      &.opened {
        transform: rotate(0);
      }
    }
  }

  .collapsed {
    border-bottom: 1px solid var(--app-shell-border-color);
  }
}
