.root {
  width: 100%;
  height: 100%;
  position: relative;

  .controls {
    padding: rem(8px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .controls-action {
    width: 24px;
    height: 24px;

    min-width: 24px;
    min-height: 24px;

    color: var(--mantine-color-gray-0)
  }
}
