.root {
  width: 100%;
  aspect-ratio: 1;
  position: relative;

  .controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: var(--mantine-radius-sm);

    padding-bottom: rem(12px);
    opacity: 0;
    transition: opacity 0.12s ease-out;

    &-overlay {
      --overlay-z-index: 0 !important;
      border-radius: var(--mantine-radius-sm);
    }

    &-button {
      position: relative;
      z-index: var(--overlay-z-index);
    }

    &:hover {
      opacity: 1;
    }
  }
}
